*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0d0d0d;
    color: white;
    font-family: Arial, sans-serif;
}

header{
    background-color: black;
    padding: 25px;
    text-align: center;
    border-bottom: 5px solid red;
}

h1{
    color: yellow;
    font-size: 40px;
    letter-spacing: 4px;
}

main{
    width: 90%;
    margin: auto;
    padding: 30px;
    text-align: center;
}